.sidebar{
    padding: 7% 0% 7% 7%;
}

.mainbar{
    padding: 5% 7% 7% 7%;
}

.heading{
    font-family: 'PT Sans', sans-serif;
    font-size: 2em;
}

.biggerHeading {
    font-family: 'PT Sans', sans-serif;
    font-size: 3em;
    margin-bottom: 2%;
}

.link{
    font-family: 'PT Serif', serif;
    font-size: 1em;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

    a.hover {
        text-decoration: none;
        color: black;
    }

#resize{
    max-height: 69vh;
    max-width: 82%;
    top: 50%;
    bottom: 50%;
}

#bigsize {
    height: 69vh;
    top: 50%;
    bottom:50%;
}

#bigsize2{
    height: 50vh;
    top: 50%;
    bottom: 50%;
}

.forward{
    top: 50%;
    bottom: 50%;
    transform: rotate(-90deg);
    width: 8%;
    opacity: 0.2;
}

.back{
    top: 50%;
    bottom: 50%;
    transform: rotate(90deg);
    width: 8%;
    opacity: 0.2;
}

.tac{
    text-align: center;
}
.back:hover{
    opacity: 0.34;
    cursor: pointer;
}

.forward:hover{
    opacity: 0.34;
    cursor: pointer;
}

.badding{
    margin-top: -3%;
    padding-bottom: 4%;
}

.dayinfo {
    font-family: "PT Serif", serif;
    margin-bottom: 2%;
}


.imageHover {
    height: auto;
    transform: scale(1.0);
    transition: transform 0.1s;
    z-index: 0;
}

    .imageHover:hover {
        cursor: pointer;
        transform: scale(1.1);
        z-index: -5;
    }

.tableImage {
    height: 120px;
}
.tablePadding {
    margin-top: 8%;
}
.linkPadding {
    margin-bottom: 2%;
}

.linkListPadding{
    margin-top: 3%;
}

#idbutton{
    padding-left:50%;
    padding-right:50%;
}

.moneyhead {
    padding: 4% 4% 4% 4%;
    font-family: "Montserrat", sans-serif;
    font-size: 5em;
}

.moneyline {

}

.moneybody {
    font-family: "Crimson Text", serif;
}

.roomForJesus{
    margin-top: 2%;
}